{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/df/montreal.jpg">
            </div>
            <div class="col-md-4">
                <h4 align="justify">
                    Cette page web permet d'obtenir de l'information à propos de bâtiments de la ville de Montréal.
                </h4>
                <p align="justify">
                    Les informations disponibles sont basés sur des évaluations effectuées en 2015. Les
                    informations disponibles sont entre autre la localisation, la valeur du terrain, la valeur du
                    bâtiment, le nom du propriétaire, les différentes règlementations d'urbanisme 01-282 Ville-Marie,
                    la proximité d'une station de métro, une description du secteur, etc.
                </p>
                <a type="button" class="btn btn-success" href="batiments">Consulter la liste!</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>