{% include "header.html" %}
<!DOCTYPE html>
<html lang="fr">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/parallax/parallax.js"></script>
<meta charset="utf-8">
{#<style>#}
{#body, html {#}
{#    height: 100%;#}
{#}#}
{##}
{#.parallax {#}
{#    /* The image used */#}
{#    background-image: url('http://www.planwallpaper.com/static/images/cool-wallpaper-1.jpg');#}
{##}
{#    /* Full height */#}
{#    height: 100%;#}
{##}
{#    /* Create the parallax scrolling effect */#}
{#    background-attachment: fixed;#}
{#    background-position: center;#}
{#    background-repeat: no-repeat;#}
{#    background-size: cover;#}
{#}#}
{#</style>#}
</head>
{#<div class="parallax"></div>#}
<div>
    <d>
        allo
    </d>
</div>

<body>


{#<div>#}
{#    <img src="../static/cool_cat.jpg">#}
{#</div>#}
{#<div class="parallax-window">#}
{#  <div class="parallax-slider">#}
{#    <span style="position:absolute; top: 400px; left: 400px;">Some Text</span>#}
{#    <p>Some other Content</p>#}
{#  </div>#}
{#</div>#}

<div class="parallax-window" data-parallax="scroll" data-image-src='../static/cool-pictures-24.jpg'></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="../static/cool_cat.jpg"></div>
</body>
</html>

{#<script>#}
{##}
{#    jQuery(document).ready(function($) {#}
{#    $(".clickable-row").click(function() {#}
{#        window.document.location = $(this).data('url');#}
{#    });#}
{#});#}
{#</script>#}
