<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <title>Bâtiments de Montréal</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bâtiments de Montréal</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if batiments %}
            <li  {% if request.path == '/batiments' %} class="active" {% endif %}><a href="/batiments">Bâtiments</a></li>
        {% elif details  %}
            <li  class="active"><a href="/batiments">Bâtiments</a></li>
            <li  class="active"><a href="/batiments/{{ data.ID }}">Détails du {{ data.COMPLET }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</body>
</html>